In [1]:
import pandas as pd

In [27]:
df = pd.read_excel('시군구별_및_연령별_등록외국인_현황_20231010120546.xlsx')
df1 = pd.read_csv('foreign_residence4.csv', encoding = 'cp949')

C:\Users\INTEL WIN11PRO(12TH)\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [34]:
result = pd.merge(df, df1, on='district', how='inner')

In [38]:
result.to_csv('행정구별_유동인구_소득.csv', encoding = 'utf-8-sig')

In [ ]:
df2 = pd.read_csv('ak_dmstc_act_cltur_pblprfr_fclty_frnr_utiliiza_actcond_info_202208.csv', encoding = 'utf-8')

In [51]:
df2= df2[df2['SIGNGU_NM'].str.contains('서울특별시')]

In [61]:
df2 = df2[['SIGNGU_NM' ,'FRNR_ALL_EXPNDTR_PRICE']]

In [63]:
df2['SIGNGU_NM'] = df2['SIGNGU_NM'].str[6:]

In [71]:
grouped = df2.groupby('SIGNGU_NM')['FRNR_ALL_EXPNDTR_PRICE'].sum().to_frame().reset_index()

In [73]:
result

,district,Res_population_2015,Res_population_2016,Res_population_2017,Res_population_2018,Res_population_2019,Res_population_2020,Res_population_2021,population,INCOME_TWO_TMW_INHBT_RATE,INCOME_THREE_TMW_INHBT_RATE,INCOME_FOUR_TMW_INHBT_RATE,INCOME_FIVE_TMW_INHBT_RATE,INCOME_SIX_TMW_INHBT_RATE,INCOME_SEVEN_TMW_INHBT_RATE,INCOME_SEVEN_TMW_ABOVE_INHBT_RATE
0,강남구,5265,5025,4888,5089,5040,4824,4758,10763,0.09,0.28,0.21,0.13,0.07,0.05,0.18
1,강동구,4663,4303,4136,4347,4323,4028,3808,1941,0.10,0.34,0.26,0.13,0.06,0.04,0.08
2,강북구,3553,3509,3523,3751,3741,3514,3381,6508,0.14,0.41,0.25,0.10,0.04,0.02,0.03
3,강서구,6617,6619,6564,6662,6477,5716,5453,3017,0.11,0.34,0.26,0.13,0.06,0.04,0.07
4,관악구,19368,18756,17632,18083,17240,14743,13750,27036,0.12,0.40,0.26,0.11,0.05,0.02,0.04
5,광진구,14811,14889,14595,15504,15622,13427,12631,7320,0.13,0.38,0.24,0.11,0.05,0.03,0.06
6,구로구,32512,32049,30817,33989,32707,28080,24409,9733,0.13,0.39,0.24,0.11,0.05,0.03,0.05
7,금천구,19883,19268,18337,20104,19010,16102,14080,4979,0.14,0.41,0.25,0.11,0.05,0.02,0.03
8,노원구,3638,3631,3672,4408,4398,3995,3990,6873,0.13,0.34,0.25,0.12,0.06,0.03,0.06
9,동대문구,13671,15243,15364,16286,16829,14177,14606,8850,0.13,0.37,0.26,0.11,0.05,0.03,0.04
10,동작구,12133,12250,12276,13182,12949,10352,8881,3361,0.16,0.40,0.22,0.10,0.05,0.03,0.05
11,마포구,10708,10995,10868,11282,11890,9968,9781,12272,0.12,0.35,0.24,0.12,0.06,0.03,0.08
12,서대문구,10964,11677,12228,12767,13774,10779,10840,11093,0.12,0.34,0.23,0.12,0.06,0.04,0.10
13,서초구,4494,4285,4299,4212,4281,3899,3888,9139,0.14,0.38,0.22,0.11,0.05,0.03,0.07
14,성동구,8062,7902,7903,8242,8090,6949,6682,7239,0.08,0.27,0.22,0.13,0.08,0.05,0.18
15,성북구,10285,11262,11352,11819,12094,9903,9614,8905,0.11,0.35,0.23,0.12,0.06,0.04,0.10
16,송파구,7178,7115,6677,6872,6780,5966,5627,12890,0.15,0.37,0.23,0.11,0.05,0.03,0.06
17,양천구,4478,4106,3864,3960,4120,3530,3185,8335,0.11,0.32,0.24,0.12,0.06,0.04,0.11
18,영등포구,39307,36166,33474,35822,33308,27887,24071,10324,0.12,0.38,0.23,0.11,0.06,0.03,0.08
19,용산구,14567,14861,15283,16091,16515,14605,14332,12085,0.11,0.36,0.22,0.12,0.06,0.04,0.10
20,은평구,4658,4461,4408,4469,4514,4208,3866,4019,0.12,0.36,0.26,0.12,0.06,0.03,0.05
21,종로구,8836,9185,9487,9961,10579,9612,9106,6000,0.15,0.39,0.21,0.10,0.05,0.03,0.07
22,중구,8596,9160,8884,9908,10317,9395,9288,12992,0.15,0.40,0.20,0.10,0.05,0.03,0.06
23,중랑구,4711,4672,4554,4938,5009,4860,4535,2758,0.12,0.39,0.27,0.11,0.05,0.02,0.03

In [74]:
final_result = pd.merge(result, grouped, left_on='district', right_on='SIGNGU_NM', how='inner')

In [76]:
final_result.to_csv('행정구별_상주인구_소득_소비.csv', encoding = 'utf-8-sig')