In [4]:
import pandas as pd

In [6]:
data = pd.read_csv("foreign_country.csv", encoding='utf-8')

In [7]:
data

,자치구별(1),자치구별(2),2023 1/4,2023 1/4.1,2023 1/4.2,2023 1/4.3,2023 1/4.4,2023 1/4.5,2023 1/4.6,2023 1/4.7,...,2023 2/4.170,2023 2/4.171,2023 2/4.172,2023 2/4.173,2023 2/4.174,2023 2/4.175,2023 2/4.176,2023 2/4.177,2023 2/4.178,2023 2/4.179
0,자치구별(1),자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,자치구별(1),자치구별(2),소계,소계,소계,한국계 중국인,한국계 중국인,한국계 중국인,중국,중국,...,덴 마 크,모 로 코,모 로 코,모 로 코,이 라 크,이 라 크,이 라 크,기 타,기 타,기 타
2,자치구별(1),자치구별(2),계,남자,여자,계,남자,여자,계,남자,...,여자,계,남자,여자,계,남자,여자,계,남자,여자
3,합계,소계,241604,105871,135733,70269,37964,32305,57771,19987,...,102,461,182,279,127,69,58,6059,3055,3004
4,합계,종로구,11152,4649,6503,853,405,448,3852,1076,...,4,6,3,3,-,-,-,310,139,171
5,합계,중구,10427,4877,5550,1078,546,532,2807,1169,...,14,16,13,3,-,-,-,436,231,205
6,합계,용산구,14726,7968,6758,671,324,347,550,199,...,21,119,63,56,81,44,37,1822,1111,711
7,합계,성동구,7000,2938,4062,1266,619,647,2442,856,...,5,14,6,8,2,2,-,92,44,48
8,합계,광진구,14124,5774,8350,3502,1764,1738,4307,1521,...,-,11,3,8,-,-,-,117,48,69
9,합계,동대문구,17310,6245,11065,1650,795,855,7279,2144,...,3,20,2,18,22,13,9,394,174,220
10,합계,중랑구,4925,1936,2989,1140,529,611,674,206,...,1,7,1,6,-,-,-,39,13,26
11,합계,성북구,11755,4303,7452,696,346,350,3792,1260,...,7,29,10,19,1,1,-,414,184,230
12,합계,강북구,4172,1465,2707,758,355,403,813,223,...,-,6,2,4,-,-,-,71,24,47
13,합계,도봉구,2349,783,1566,324,150,174,342,86,...,-,4,4,-,-,-,-,65,31,34
14,합계,노원구,4474,1901,2573,405,194,211,817,348,...,-,7,1,6,4,2,2,82,48,34
15,합계,은평구,3895,1561,2334,823,394,429,669,226,...,-,8,-,8,1,-,1,53,36,17
16,합계,서대문구,13529,4357,9172,570,252,318,4098,1108,...,11,23,3,20,3,-,3,359,124,235
17,합계,마포구,10972,3947,7025,729,350,379,2934,839,...,8,25,15,10,2,-,2,253,82,171
18,합계,양천구,3126,1280,1846,1196,599,597,496,161,...,1,8,3,5,-,-,-,31,16,15
19,합계,강서구,5424,2353,3071,1691,841,850,980,328,...,3,13,4,9,-,-,-,90,47,43
20,합계,구로구,22800,12182,10618,15662,9261,6401,5082,2060,...,-,4,2,2,4,3,1,56,25,31
21,합계,금천구,13160,6953,6207,9183,5311,3872,2475,997,...,1,7,2,5,-,-,-,32,15,17
22,합계,영등포구,22385,11529,10856,15155,8429,6726,4599,1907,...,-,11,5,6,-,-,-,82,42,40
23,합계,동작구,10176,4169,6007,3036,1537,1499,3231,1190,...,1,14,8,6,4,3,1,370,235,135
24,합계,관악구,14813,6000,8813,5665,2907,2758,2663,894,...,3,68,18,50,2,-,2,436,183,253
25,합계,서초구,4148,2002,2146,401,174,227,539,248,...,8,8,1,7,-,-,-,162,69,93
26,합계,강남구,5019,2310,2709,448,165,283,826,409,...,4,15,4,11,-,-,-,160,69,91
27,합계,송파구,5698,2575,3123,1999,1021,978,908,346,...,7,9,6,3,1,1,-,92,47,45
28,합계,강동구,4045,1814,2231,1368,696,672,596,186,...,-,9,3,6,-,-,-,41,18,23

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Columns: 362 entries, 자치구별(1) to 2023 1/2.179
dtypes: object(362)
memory usage: 82.1+ KB

In [8]:
columns_to_keep = [col for col in data.columns if data.iloc[2][col] == '계' or data.iloc[2][col] == '자치구별(1)' or data.iloc[2][col] == '자치구별(2)']

# 필터링된 컬럼을 유지하고 나머지 컬럼을 삭제
data = data[columns_to_keep]

data

,자치구별(1),자치구별(2),2023 1/4,2023 1/4.3,2023 1/4.6,2023 1/4.9,2023 1/4.12,2023 1/4.15,2023 1/4.18,2023 1/4.21,...,2023 2/4.150,2023 2/4.153,2023 2/4.156,2023 2/4.159,2023 2/4.162,2023 2/4.165,2023 2/4.168,2023 2/4.171,2023 2/4.174,2023 2/4.177
0,자치구별(1),자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,자치구별(1),자치구별(2),소계,한국계 중국인,중국,미국,타이완,일본,베트남,몽골,...,오스트리아,수 단,아르헨티나,오 만,이 스 라 엘,페 루,덴 마 크,모 로 코,이 라 크,기 타
2,자치구별(1),자치구별(2),계,계,계,계,계,계,계,계,...,계,계,계,계,계,계,계,계,계,계
3,합계,소계,241604,70269,57771,11371,7662,9340,22129,8106,...,157,104,94,33,147,223,197,461,127,6059
4,합계,종로구,11152,853,3852,921,257,366,2091,77,...,24,-,1,7,44,4,8,6,-,310
5,합계,중구,10427,1078,2807,308,543,268,1520,260,...,14,-,3,3,4,34,31,16,-,436
6,합계,용산구,14726,671,550,2307,305,1024,276,169,...,15,82,28,2,39,58,53,119,81,1822
7,합계,성동구,7000,1266,2442,237,153,233,952,231,...,1,-,1,1,3,-,8,14,2,92
8,합계,광진구,14124,3502,4307,226,147,462,1859,1049,...,4,1,3,-,1,4,-,11,-,117
9,합계,동대문구,17310,1650,7279,308,369,635,2867,652,...,5,4,2,-,4,10,6,20,22,394
10,합계,중랑구,4925,1140,674,71,77,153,707,1425,...,-,-,2,-,-,2,1,7,-,39
11,합계,성북구,11755,696,3792,439,268,427,1637,1201,...,14,2,1,12,5,20,10,29,1,414
12,합계,강북구,4172,758,813,87,109,147,727,640,...,3,1,2,-,1,2,-,6,-,71
13,합계,도봉구,2349,324,342,82,52,138,414,251,...,1,-,2,-,-,2,-,4,-,65
14,합계,노원구,4474,405,817,223,92,261,1156,329,...,-,-,-,-,1,6,-,7,4,82
15,합계,은평구,3895,823,669,160,485,352,464,65,...,-,-,1,-,-,-,2,8,1,53
16,합계,서대문구,13529,570,4098,1032,1846,684,1511,157,...,11,9,8,-,5,14,17,23,3,359
17,합계,마포구,10972,729,2934,1262,1096,1004,608,74,...,16,1,3,1,3,8,14,25,2,253
18,합계,양천구,3126,1196,496,157,160,144,267,81,...,3,-,-,-,2,5,1,8,-,31
19,합계,강서구,5424,1691,980,205,268,349,426,86,...,6,-,2,-,-,1,4,13,-,90
20,합계,구로구,22800,15662,5082,112,157,214,465,105,...,1,-,2,-,1,-,-,4,4,56
21,합계,금천구,13160,9183,2475,58,86,134,407,104,...,1,-,-,-,3,3,1,7,-,32
22,합계,영등포구,22385,15155,4599,233,341,252,346,77,...,3,-,1,-,4,-,2,11,-,82
23,합계,동작구,10176,3036,3231,243,183,323,1322,110,...,4,2,2,-,3,15,2,14,4,370
24,합계,관악구,14813,5665,2663,375,186,481,1122,552,...,12,2,11,2,6,20,8,68,2,436
25,합계,서초구,4148,401,539,674,119,309,118,40,...,6,-,4,3,11,6,13,8,-,162
26,합계,강남구,5019,448,826,887,146,463,213,62,...,10,-,7,1,5,3,7,15,-,160
27,합계,송파구,5698,1999,908,557,139,318,301,103,...,3,-,4,1,1,4,9,9,1,92
28,합계,강동구,4045,1368,596,207,78,199,353,206,...,-,-,4,-,1,2,-,9,-,41

In [9]:
# 제거할 이름 리스트
remove_names = [ '성동구', '중랑구', '강북구', '노원구', '도봉구', '은평구','양천구','강서구','구로구','영등포구','서초구','강남구','송파구','강동구']

# 2번째 열에서 이름이 remove_names에 속하지 않는 행을 선택
filtered_data = data[~data.iloc[:, 1].isin(remove_names)]
filtered_data = filtered_data.drop(2)

filtered_data

,자치구별(1),자치구별(2),2023 1/4,2023 1/4.3,2023 1/4.6,2023 1/4.9,2023 1/4.12,2023 1/4.15,2023 1/4.18,2023 1/4.21,...,2023 2/4.150,2023 2/4.153,2023 2/4.156,2023 2/4.159,2023 2/4.162,2023 2/4.165,2023 2/4.168,2023 2/4.171,2023 2/4.174,2023 2/4.177
0,자치구별(1),자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,자치구별(1),자치구별(2),소계,한국계 중국인,중국,미국,타이완,일본,베트남,몽골,...,오스트리아,수 단,아르헨티나,오 만,이 스 라 엘,페 루,덴 마 크,모 로 코,이 라 크,기 타
3,합계,소계,241604,70269,57771,11371,7662,9340,22129,8106,...,157,104,94,33,147,223,197,461,127,6059
4,합계,종로구,11152,853,3852,921,257,366,2091,77,...,24,-,1,7,44,4,8,6,-,310
5,합계,중구,10427,1078,2807,308,543,268,1520,260,...,14,-,3,3,4,34,31,16,-,436
6,합계,용산구,14726,671,550,2307,305,1024,276,169,...,15,82,28,2,39,58,53,119,81,1822
8,합계,광진구,14124,3502,4307,226,147,462,1859,1049,...,4,1,3,-,1,4,-,11,-,117
9,합계,동대문구,17310,1650,7279,308,369,635,2867,652,...,5,4,2,-,4,10,6,20,22,394
11,합계,성북구,11755,696,3792,439,268,427,1637,1201,...,14,2,1,12,5,20,10,29,1,414
16,합계,서대문구,13529,570,4098,1032,1846,684,1511,157,...,11,9,8,-,5,14,17,23,3,359
17,합계,마포구,10972,729,2934,1262,1096,1004,608,74,...,16,1,3,1,3,8,14,25,2,253
21,합계,금천구,13160,9183,2475,58,86,134,407,104,...,1,-,-,-,3,3,1,7,-,32
23,합계,동작구,10176,3036,3231,243,183,323,1322,110,...,4,2,2,-,3,15,2,14,4,370
24,합계,관악구,14813,5665,2663,375,186,481,1122,552,...,12,2,11,2,6,20,8,68,2,436

In [10]:
filtered_data = filtered_data.iloc[:, 1:]

filtered_data

,자치구별(2),2023 1/4,2023 1/4.3,2023 1/4.6,2023 1/4.9,2023 1/4.12,2023 1/4.15,2023 1/4.18,2023 1/4.21,2023 1/4.24,...,2023 2/4.150,2023 2/4.153,2023 2/4.156,2023 2/4.159,2023 2/4.162,2023 2/4.165,2023 2/4.168,2023 2/4.171,2023 2/4.174,2023 2/4.177
0,자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,자치구별(2),소계,한국계 중국인,중국,미국,타이완,일본,베트남,몽골,필리핀,...,오스트리아,수 단,아르헨티나,오 만,이 스 라 엘,페 루,덴 마 크,모 로 코,이 라 크,기 타
3,소계,241604,70269,57771,11371,7662,9340,22129,8106,3480,...,157,104,94,33,147,223,197,461,127,6059
4,종로구,11152,853,3852,921,257,366,2091,77,80,...,24,-,1,7,44,4,8,6,-,310
5,중구,10427,1078,2807,308,543,268,1520,260,111,...,14,-,3,3,4,34,31,16,-,436
6,용산구,14726,671,550,2307,305,1024,276,169,633,...,15,82,28,2,39,58,53,119,81,1822
8,광진구,14124,3502,4307,226,147,462,1859,1049,91,...,4,1,3,-,1,4,-,11,-,117
9,동대문구,17310,1650,7279,308,369,635,2867,652,193,...,5,4,2,-,4,10,6,20,22,394
11,성북구,11755,696,3792,439,268,427,1637,1201,264,...,14,2,1,12,5,20,10,29,1,414
16,서대문구,13529,570,4098,1032,1846,684,1511,157,137,...,11,9,8,-,5,14,17,23,3,359
17,마포구,10972,729,2934,1262,1096,1004,608,74,85,...,16,1,3,1,3,8,14,25,2,253
21,금천구,13160,9183,2475,58,86,134,407,104,117,...,1,-,-,-,3,3,1,7,-,32
23,동작구,10176,3036,3231,243,183,323,1322,110,60,...,4,2,2,-,3,15,2,14,4,370
24,관악구,14813,5665,2663,375,186,481,1122,552,165,...,12,2,11,2,6,20,8,68,2,436

In [11]:
# 인덱스를 재정렬
filtered_data = filtered_data.reset_index(drop=True)

filtered_data

,자치구별(2),2023 1/4,2023 1/4.3,2023 1/4.6,2023 1/4.9,2023 1/4.12,2023 1/4.15,2023 1/4.18,2023 1/4.21,2023 1/4.24,...,2023 2/4.150,2023 2/4.153,2023 2/4.156,2023 2/4.159,2023 2/4.162,2023 2/4.165,2023 2/4.168,2023 2/4.171,2023 2/4.174,2023 2/4.177
0,자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,자치구별(2),소계,한국계 중국인,중국,미국,타이완,일본,베트남,몽골,필리핀,...,오스트리아,수 단,아르헨티나,오 만,이 스 라 엘,페 루,덴 마 크,모 로 코,이 라 크,기 타
2,소계,241604,70269,57771,11371,7662,9340,22129,8106,3480,...,157,104,94,33,147,223,197,461,127,6059
3,종로구,11152,853,3852,921,257,366,2091,77,80,...,24,-,1,7,44,4,8,6,-,310
4,중구,10427,1078,2807,308,543,268,1520,260,111,...,14,-,3,3,4,34,31,16,-,436
5,용산구,14726,671,550,2307,305,1024,276,169,633,...,15,82,28,2,39,58,53,119,81,1822
6,광진구,14124,3502,4307,226,147,462,1859,1049,91,...,4,1,3,-,1,4,-,11,-,117
7,동대문구,17310,1650,7279,308,369,635,2867,652,193,...,5,4,2,-,4,10,6,20,22,394
8,성북구,11755,696,3792,439,268,427,1637,1201,264,...,14,2,1,12,5,20,10,29,1,414
9,서대문구,13529,570,4098,1032,1846,684,1511,157,137,...,11,9,8,-,5,14,17,23,3,359
10,마포구,10972,729,2934,1262,1096,1004,608,74,85,...,16,1,3,1,3,8,14,25,2,253
11,금천구,13160,9183,2475,58,86,134,407,104,117,...,1,-,-,-,3,3,1,7,-,32
12,동작구,10176,3036,3231,243,183,323,1322,110,60,...,4,2,2,-,3,15,2,14,4,370
13,관악구,14813,5665,2663,375,186,481,1122,552,165,...,12,2,11,2,6,20,8,68,2,436

In [12]:
# 0번째 행 제거
filtered_data = filtered_data.iloc[1:]

# 1번째 행을 열 이름으로 설정
filtered_data.columns = filtered_data.iloc[0]

filtered_data = filtered_data.iloc[1:]

filtered_data

1,자치구별(2),소계,한국계 중국인,중국,미국,타이완,일본,베트남,몽골,필리핀,...,오스트리아,수 단,아르헨티나,오 만,이 스 라 엘,페 루,덴 마 크,모 로 코,이 라 크,기 타
2,소계,241604,70269,57771,11371,7662,9340,22129,8106,3480,...,157,104,94,33,147,223,197,461,127,6059
3,종로구,11152,853,3852,921,257,366,2091,77,80,...,24,-,1,7,44,4,8,6,-,310
4,중구,10427,1078,2807,308,543,268,1520,260,111,...,14,-,3,3,4,34,31,16,-,436
5,용산구,14726,671,550,2307,305,1024,276,169,633,...,15,82,28,2,39,58,53,119,81,1822
6,광진구,14124,3502,4307,226,147,462,1859,1049,91,...,4,1,3,-,1,4,-,11,-,117
7,동대문구,17310,1650,7279,308,369,635,2867,652,193,...,5,4,2,-,4,10,6,20,22,394
8,성북구,11755,696,3792,439,268,427,1637,1201,264,...,14,2,1,12,5,20,10,29,1,414
9,서대문구,13529,570,4098,1032,1846,684,1511,157,137,...,11,9,8,-,5,14,17,23,3,359
10,마포구,10972,729,2934,1262,1096,1004,608,74,85,...,16,1,3,1,3,8,14,25,2,253
11,금천구,13160,9183,2475,58,86,134,407,104,117,...,1,-,-,-,3,3,1,7,-,32
12,동작구,10176,3036,3231,243,183,323,1322,110,60,...,4,2,2,-,3,15,2,14,4,370
13,관악구,14813,5665,2663,375,186,481,1122,552,165,...,12,2,11,2,6,20,8,68,2,436

In [13]:
filtered_data = filtered_data.reset_index(drop=True)

filtered_data

1,자치구별(2),소계,한국계 중국인,중국,미국,타이완,일본,베트남,몽골,필리핀,...,오스트리아,수 단,아르헨티나,오 만,이 스 라 엘,페 루,덴 마 크,모 로 코,이 라 크,기 타
0,소계,241604,70269,57771,11371,7662,9340,22129,8106,3480,...,157,104,94,33,147,223,197,461,127,6059
1,종로구,11152,853,3852,921,257,366,2091,77,80,...,24,-,1,7,44,4,8,6,-,310
2,중구,10427,1078,2807,308,543,268,1520,260,111,...,14,-,3,3,4,34,31,16,-,436
3,용산구,14726,671,550,2307,305,1024,276,169,633,...,15,82,28,2,39,58,53,119,81,1822
4,광진구,14124,3502,4307,226,147,462,1859,1049,91,...,4,1,3,-,1,4,-,11,-,117
5,동대문구,17310,1650,7279,308,369,635,2867,652,193,...,5,4,2,-,4,10,6,20,22,394
6,성북구,11755,696,3792,439,268,427,1637,1201,264,...,14,2,1,12,5,20,10,29,1,414
7,서대문구,13529,570,4098,1032,1846,684,1511,157,137,...,11,9,8,-,5,14,17,23,3,359
8,마포구,10972,729,2934,1262,1096,1004,608,74,85,...,16,1,3,1,3,8,14,25,2,253
9,금천구,13160,9183,2475,58,86,134,407,104,117,...,1,-,-,-,3,3,1,7,-,32
10,동작구,10176,3036,3231,243,183,323,1322,110,60,...,4,2,2,-,3,15,2,14,4,370
11,관악구,14813,5665,2663,375,186,481,1122,552,165,...,12,2,11,2,6,20,8,68,2,436

In [14]:

# 0번째 열의 이름을 '자치구'로 변경
filtered_data = filtered_data.rename(columns={filtered_data.columns[0]: '자치구'})

filtered_data

1,자치구,소계,한국계 중국인,중국,미국,타이완,일본,베트남,몽골,필리핀,...,오스트리아,수 단,아르헨티나,오 만,이 스 라 엘,페 루,덴 마 크,모 로 코,이 라 크,기 타
0,소계,241604,70269,57771,11371,7662,9340,22129,8106,3480,...,157,104,94,33,147,223,197,461,127,6059
1,종로구,11152,853,3852,921,257,366,2091,77,80,...,24,-,1,7,44,4,8,6,-,310
2,중구,10427,1078,2807,308,543,268,1520,260,111,...,14,-,3,3,4,34,31,16,-,436
3,용산구,14726,671,550,2307,305,1024,276,169,633,...,15,82,28,2,39,58,53,119,81,1822
4,광진구,14124,3502,4307,226,147,462,1859,1049,91,...,4,1,3,-,1,4,-,11,-,117
5,동대문구,17310,1650,7279,308,369,635,2867,652,193,...,5,4,2,-,4,10,6,20,22,394
6,성북구,11755,696,3792,439,268,427,1637,1201,264,...,14,2,1,12,5,20,10,29,1,414
7,서대문구,13529,570,4098,1032,1846,684,1511,157,137,...,11,9,8,-,5,14,17,23,3,359
8,마포구,10972,729,2934,1262,1096,1004,608,74,85,...,16,1,3,1,3,8,14,25,2,253
9,금천구,13160,9183,2475,58,86,134,407,104,117,...,1,-,-,-,3,3,1,7,-,32
10,동작구,10176,3036,3231,243,183,323,1322,110,60,...,4,2,2,-,3,15,2,14,4,370
11,관악구,14813,5665,2663,375,186,481,1122,552,165,...,12,2,11,2,6,20,8,68,2,436

In [15]:
filtered_data = filtered_data.replace('-', 0)

filtered_data

1,자치구,소계,한국계 중국인,중국,미국,타이완,일본,베트남,몽골,필리핀,...,오스트리아,수 단,아르헨티나,오 만,이 스 라 엘,페 루,덴 마 크,모 로 코,이 라 크,기 타
0,소계,241604,70269,57771,11371,7662,9340,22129,8106,3480,...,157,104,94,33,147,223,197,461,127,6059
1,종로구,11152,853,3852,921,257,366,2091,77,80,...,24,0,1,7,44,4,8,6,0,310
2,중구,10427,1078,2807,308,543,268,1520,260,111,...,14,0,3,3,4,34,31,16,0,436
3,용산구,14726,671,550,2307,305,1024,276,169,633,...,15,82,28,2,39,58,53,119,81,1822
4,광진구,14124,3502,4307,226,147,462,1859,1049,91,...,4,1,3,0,1,4,0,11,0,117
5,동대문구,17310,1650,7279,308,369,635,2867,652,193,...,5,4,2,0,4,10,6,20,22,394
6,성북구,11755,696,3792,439,268,427,1637,1201,264,...,14,2,1,12,5,20,10,29,1,414
7,서대문구,13529,570,4098,1032,1846,684,1511,157,137,...,11,9,8,0,5,14,17,23,3,359
8,마포구,10972,729,2934,1262,1096,1004,608,74,85,...,16,1,3,1,3,8,14,25,2,253
9,금천구,13160,9183,2475,58,86,134,407,104,117,...,1,0,0,0,3,3,1,7,0,32
10,동작구,10176,3036,3231,243,183,323,1322,110,60,...,4,2,2,0,3,15,2,14,4,370
11,관악구,14813,5665,2663,375,186,481,1122,552,165,...,12,2,11,2,6,20,8,68,2,436

In [16]:
filtered_data.to_csv('foreign_data.csv', encoding ='utf-8-sig')