In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('bankxy.csv')

In [24]:
df.drop(['Unnamed: 0'], axis =1, inplace = True)

In [25]:
df['result'] = df['result'].str.strip('()')
df[['x', 'y']] = df['result'].str.split(', ', expand=True)

In [26]:
df.drop(['result'], axis =1, inplace = True)

In [31]:
df

,bank,name,address,x,y
0,NH농협은행,NH금융PLUS 광화문역센터,서울특별시 종로구 신문로1가 세종대로 149,37.5701894,126.9739225
1,NH농협은행,NH금융PLUS 반포역센터,서울특별시 서초구 반포동 잠원로 24,37.5071264,127.0098413
2,NH농협은행,NH금융PLUS 파크원센터,서울특별시 영등포구 여의도동 여의대로 108,37.5260497,126.928296
3,NH농협은행,aT센터지점,서울특별시 서초구 양재동 강남대로 27,37.4786172,127.0360752
4,NH농협은행,가락동지점,서울특별시 송파구 가락동 중대로9길 60,37.4976231,127.1201545
...,...,...,...,...,...
1687,하나은행,홍제역,서울특별시 서대문구 홍제3동 통일로 472 (홍제동),37.5928868,126.9489057
1688,하나은행,화곡역,서울특별시 강서구 화곡3동 강서로 183 (화곡동),37.5426123,126.8390992
1689,하나은행,화양동,서울특별시 광진구 화양동 동일로 180 (화양동),37.5477084,127.0716418
1690,하나은행,휘경동,서울특별시 동대문구 회기동 회기로 175 (회기동),37.590427,127.0557345
1691,하나은행,흑석뉴타운,서울특별시 동작구 흑석동 흑석한강로 2 (흑석동),37.506598,126.9664777

In [32]:
df['행정구'] = df['address'].str.split().str[1]

In [34]:
df.to_csv('bank_xy.csv', encoding = 'utf-8-sig')